#xo-game{
    background-color: #192a32;
    
    .container{
        
    }
       
    .row{

        div{
            border-radius: 50px;
            scale: 0.9;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        div[class ^="head"]{
            aspect-ratio: 3;
            border: 1px solid red;
        }

        .head-left{
            .fa-xmark{
                color: #31c4be;
            }
             
            .fa-o{
                color: #f2b237;
            }
            i{
                font-size: 500%;
            }
                      
            
        }

        .head-mid{
            background-color: #1f3540;
            box-shadow: 5px 5px 20px black;
            
            .fa-xmark{
                color: #31c4be;
            }
             
            .fa-o{
                color: #f2b237;
            }
            i{
                font-size: 500%;
                
            }
            p{
                font-size: 500%;
            }
        }

        .head-right{
            .reset-btn{
                display: flex;
                justify-content: end;
                button{
                    
                }
                background-color: #a8bec9;
                i{
                    font-size: 500%;
                    color: #1f3540;
                }
            }
        }
    
        div[class ^="game"]{
            aspect-ratio: 1;
            background-color: #1f3540;
            box-shadow: 5px 5px 20px black;

            i{
                font-size: 2000%;
                position: absolute;
            }

            .fa-xmark{
                color: #31c4be;
            }
             
            .fa-o{
                color: #f2b237;
            }
        }
    
        div[class ^="bottom"]{
            aspect-ratio: 3;
            color: #08262c;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 400%;
            P{
                margin: -4% 0;
            }
        }

        .bottom-left{
            background-color: #31c4be;
        }

        .bottom-mid{
            background-color: #a8bec9;
        }

        .bottom-right{
            background-color: #f2b237;
        }
    }




    


}